  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLinkActive="active"  routerLink="home">Inicio</a>
        <a class="navbar-brand" routerLinkActive="active"  routerLink="contactos">Contacto</a>
                 <h1 class="header-title text-primary " >Cartelera de Peliculas </h1>
                <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <div class="circular--square-2">
                <img class="circular--square-1" src="assets/Img/Iconos/buscar.png"/>
                <button  class="btn online"  >Search</button>
                </div>
        
        </form>
    </div>

</nav>
